<header class="header">
  <div class="container header__container">
    <div class="header__logo">Logo</div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">link one</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./two">link two</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./three">link three</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./index.html">link four</a>
        </li>
      </ul>
    </nav>
    <div class="auth">
      <ul class="auth__list">
        <li class="auth__item">
          <a class="auth__link" href="tel:+32222222222">+32222222222</a>
        </li>
        <li class="auth__item">
          <a class="auth__link" href="mailto:qwer@gmail.com">qwer@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</header>
