<div class="map-wrapper">
    <iframe class="map__iframe"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20309.075323923767!2d30.4721233!3d50.4851493!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdec53762c3f%3A0x921e13594fcabca3!2sKurenivskyi%20Park!5e0!3m2!1sru!2sua!4v1665595518396!5m2!1sru!2sua"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <iframe src="https://www.google.com/maps/d/embed?mid=1SRAeCgoIUPrFWTEfVgCF7apZBA9xijs&ehbc=2E312F" width="640"
        height="480"></iframe>


</div>